<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Dealz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="dashboard">
        <p class="h2 text-success"> Welcome, {{ session["user_name"] }}</p>
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <p class="h4">Cars for Sale:</p>
            <div>
                <a href="/cars/new" class="btn btn-success me-5 btn-sm">Add A Car</a>
                <a href="/user/purchases" class="btn btn-primary me-5 btn-sm">My Purchases</a>
                <a href="/logout" class="btn btn-outline-danger btn-sm">logout</a>
            </div>
        </div>
        <table class="table w-100 table-hover">
            <thead class="table-light">
                <tr>
                    <th class="col-3">Model</th>
                    <th class="col-3">Year</th>
                    <th class="col-2">Seller</th>
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in dashboard_info %}
                    <tr>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.seller_name }}</td>
                        <td id="action">
                            {% if car.seller_id != car.owner_id %}
                                SOLD
                            {% else %}
                                <a href="/cars/{{ car.id }}">view</a>
                                <!-- check if the car is selling by this user -->
                                {% if car.owner_id == session["id"]: %}
                                    <a href="/cars/edit/{{ car.id }}" class="ms-2">Edit</a>
                                    <a href="/cars/delete/{{ car.id }}" class="ms-2">Delete</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>